/* Main pages style */

#bodya {
    background-image: url("../imgs/silverbackground.jpeg");
    background-size: cover;
    padding: 2% 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#h1a {
    display: inline;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: aquamarine;
    text-align: center;
    font-size: 1.1cm;
    border-style: outset;
    border-width: 12px;
    border-color: rgb(3, 72, 80);
    border-radius: 5px;
    background-color: rgb(3, 72, 80);
    width: 40%;
    margin: auto;
    margin-top: -7%;
}

#uqu-logo {
    display: inline;
    justify-content: right;
    width: 11%;
    font-size: medium;
}

.h2a {
    color: rgb(3, 72, 80);
    text-align: center;
    font-size: 1cm;
    font-family: 'Times New Roman', Times, serif
}

table {
    width: 75%;
    background-color: rgb(166, 227, 207);
    color: rgb(7, 83, 92);
    margin: 30px 0;
    font-size: 0.9cm;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6%;
}


tbody tr:hover {
    background-color: whitesmoke;
    color: rgb(55, 5, 75);
    font-size: medium;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    text-indent: 3%
}

li {
    color: black;
    font-size: 0.6cm;
}

.inst-img {
    width: 200px;
    border-radius: 100%;
}


.inst-prof {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.aa {
    text-decoration: none;
    color: rgb(3, 72, 80);
    font-size: xx-large;
}


.aa:visited {
    color: rgb(195, 0, 255);
    font-size: xx-large;
}


.aa:hover {
    color: aqua;
}


.aa:active {
    color: rgb(0, 89, 255);
    font-size: 37px;
}

#join {

    text-align: center;
}

#join:hover {

    background-color: whitesmoke;
    color: rgb(55, 5, 75);
    font-size: medium;
}











/* Members pages style */

.memberb {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: large;
}



#profile-photob {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    font-size: xx-small;
}


#h1b {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 153, 0);
    text-align: center;
    height: 50px;
    border-width: 5px;
    border-color: rgb(161, 161, 161);
    border-style: outset;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}


#nameb {
    font-size: x-large;
    color: rgb(255, 153, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


#desb {
    font-size: larger;
    color: rgb(255, 153, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.iconb {
    width: 35px;
    height: 35px;

}


#homeb {
    width: 70px;
    height: 70px;
    font-size: medium;
}


#bodyb {
    text-align: center;
    background-image: url("../imgs/bg.jpg");
    font-size: large;

}


.rceb {
    display: inline;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


#hobbies-and-interestsb {
    color: rgb(255, 153, 0);
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


#media-accountsb {
    color: rgb(255, 153, 0);
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


#contact-meb {
    color: rgb(255, 153, 0);
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


#about-meb {
    color: rgb(255, 153, 0);
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#best-tweet {
    color: rgb(255, 153, 0);
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#best-youtube {
    color: rgb(255, 153, 0);
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#best-coffe {
    color: rgb(255, 153, 0);
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#best-tiktok {
    color: rgb(255, 153, 0);
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#best-post {
    color: rgb(255, 153, 0);
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#general-infob {
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.ab {
    text-decoration: none;
}


.twitter-tweet {
    margin: auto;
}










/* form page style */

#body-f {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1%;
    background-image: url("../imgs/bg.jpg");
}


#fd {
    background-color: rgb(192, 86, 0);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 5px;
    border-style: outset;
}


#h1-form,
#h1-p-form {

    color: white;
}


label {
    font-size: large;
    color: rgb(148, 51, 51);
}


.icon-f {
    width: 20px;
    height: 20px;
}


#button {
    font-size: medium;
    background-color: rgb(192, 86, 0);
    color: white;
    font-size: large;

}